.hidden {
display: none;
}

body{
	background-color: black;
	color: white;
	border-style: solid;
	border-width: 10px;
	border-color:#cc5500;
	border-radius: 15px;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-family: Helvetica Narrow, sans-serif;
}	
h1{
	color: #cc5500;
	font-size: 50px;


}
#content {
	width: 80%;
	margin: auto;
}

#tabel {
	font-size: 25px;
	font-weight: bold;
	color: white;
}
.buttonStyle{
	width: auto;
	border-style: solid;
	border-width: 10px;
	border-color: #cc5500;
	color: White;
	background-color: #cc5500;
	font-weight: bold;
	font-size: 18px;
	border-radius: 12px;
}