.hidden {
display: none;
}

body{
	background-color: White;
}	
h1{
	color: #cc5500;
}

#content {
	width: 80%;
	margin: auto;
}

#tabel {
	background-image: url("basketball.jpg");
	background-repeat: no-repeat;
	background-size: 40%;
}
#bleDeviceList{
	
}	
#messageInput{
	
}
#list{
	background-color: red;

}


#resetscores {

	
	width: auto;
	border-style: solid;
	border-width: 10px;
	border-color: #cc5500;
	color: White;
	background-color: #cc5500;
	font-weight: bold;
	font-size: 18px;
	




}



/* width will be 100% of content */
#refreshButton{
	width: auto;
	border-style: solid;
	border-width: 10px;
	border-color: #cc5500;
	color: White;
	background-color: #cc5500;
	font-weight: bold;
	font-size: 18px;
	
	
}
#disconnectButton{
	width: auto;
	border-style: solid;
	border-width: 10px;
	border-color: #cc5500;
	color: White;
	background-color: #cc5500;
	font-weight: bold;
	font-size: 18px;
}
#sendButton{
	width: 100%;
}


#tabel{
	width: 100%;
	margin: auto;
	text-align: left;
	
}